<!doctype html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>💾🌵 consenual vibes</title>
<link rel="stylesheet" href="{{ url_for("static", filename="mobile-style.css") }}" type="text/css">
<script src="{{ url_for("static", filename="jquery-2.1.1.min.js") }}"></script>
<script src="{{ url_for("static", filename="jquery.transit.min.js") }}"></script>
</head>
<body>
<div id="gameslist">
<br>
{% for game in games %}
<li><a href="{{game}}">{{game}}</a></li>
{% endfor %}
</div>


<marquee scrollamount="30" id="ticker">
CHOOSE YOUR GAME
</marquee>

</body>