<html>
<meta charset="utf-8">
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.gif') }}">
<meta name="viewport" content="width=device-width, user-scalable=1">
<link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css">

</head>
<body>

    <img src="{{ url_for('static', filename='img/diskcactus.png') }}" id="logotype" />
    <div id="tagline">
    <!-- <div class="l"><a href="#">environments</a></div> <div class="m">&</div> <div class="r"><a href="#">devices</a></div> -->
    <span class="bg">environments</span> & <span class="bg">devices</span>

    </div>
    <img src="{{ url_for('static', filename='img/rainbow-hr.gif') }}" class="hr">

    <div id="about">
    <p>💾🌵 (pronounced <span class="bg">disk cactus</span>) is a new art and technology studio in Oakland, CA that makes rad environments and devices for people like you.</p>
    <p>Let's design an interaction together:
    <br>
    ~&gt;<a href="mailto:connect@diskcact.us">connect@diskcact.us</a>&lt;~
    </p>
    <br><br>
    <!-- <a href="/ideate" class="bg">IDEATE</a>
    <br><br> -->
    <a href="/tinderate" class="bg">TINDERATE</a>
    <br><br><br>
    </div>
    <!-- <form action='change' method='POST'>
    DIY EMOJI WIFI<br/><br/>
    <b>&mdash;</b><input type='text' class='ssid' name='ssid' value="{{ SSID }}" /><b>&mdash;</b>
    <br />
    <input type='submit' value='>>>>>>'>
    </form> -->

<div id="ticker">
<marquee>&middot; &middot; &middot; Themes for 2015: dirt, felt, cork, (water?) &middot; PUT AN ARDUINO ON IT &middot; information sonification &middot; slow internet &middot; interspecies communication &middot; hammocks &middot; feminist WIFI &middot; full unicode support &middot; heirloom jpegs &middot; white light &middot; concrete electronics &middot; &middot; &middot;</marquee>
</div>    
</body>
</html>
